Library Management System

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///library.db

'Connected: @library.db'

In [105]:
%%sql
CREATE TABLE Members(
                        LibID INTEGER NOT NULL, 
                        firstName CHAR(60), 
                        lastName CHAR(60), 
                        memberOfLib CHAR(60) NOT NULL,
                        PRIMARY KEY (LibID),
                        FOREIGN KEY (memberOfLib) REFERENCES Library(name)
    );

 * sqlite:///library.db
Done.
Done.

[]

In [174]:
%%sql
CREATE TABLE Records(
                        ISBN INTEGER NOT NULL, 
                        locationNumber INTEGER, 
                        numCopies INTEGER, 
                        availableOn DATE, 
                        status CHAR(20), 
                        recordType CHAR(40),
                        libraryAddress CHAR(60) NOT NULL,
                        PRIMARY KEY(ISBN),
                        FOREIGN KEY (libraryAddress) REFERENCES Library(address)
                    );

 * sqlite:///library.db
Done.
Done.

[]

In [27]:
%%sql

 * sqlite:///library.db
(sqlite3.OperationalError) near "DROP": syntax error
[SQL: ALTER TABLE Records
DROP CONSTRAINT libraryAddress;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [109]:
%%sql
CREATE TABLE BorrowStatus(
                            IssueID INTEGER NOT NULL, 
                            ISBN INTEGER NOT NULL, 
                            IssueDate DATE, 
                            DueDate DATE,
                            PRIMARY KEY(IssueID, ISBN), 
                            FOREIGN KEY(ISBN) REFERENCES Records(ISBN)
    
);

 * sqlite:///library.db
Done.

[]

In [117]:
%%sql
CREATE TABLE Borrows(
                        IssueID INTEGER NOT NULL,
                        ISBN INTEGER NOT NULL,
                        borrowingID INTEGER NOT NULL,
                        PRIMARY KEY(IssueID, ISBN, borrowingID),
                        FOREIGN KEY(ISBN) REFERENCES BorrowStatus(ISBN),
                        FOREIGN KEY(IssueID) REFERENCES BorrowStatus(IssueID),
                        FOREIGN KEY(borrowingID) REFERENCES Members(LibID)
);

 * sqlite:///library.db
Done.

[]

In [112]:
%%sql
CREATE TABLE ReturnStatus(
                        ReturnID INTEGER NOT NULL,
                        IssueID INTEGER NOT NULL,
                        ISBN INTEGER NOT NULL, 
                        DueDate DATE, 
                        ReturnedOn DATE, 
                        fineAmount FLOAT(3, 2), 
                        PRIMARY KEY(ReturnID, IssueID, ISBN), 
                        FOREIGN KEY (IssueID) REFERENCES BorrowStatus(IssueID), 
                        FOREIGN KEY (ISBN) REFERENCES Records(ISBN)
);

 * sqlite:///library.db
Done.
Done.

[]

In [169]:
%%sql
CREATE TABLE Returns(
                        ReturnID INTEGER NOT NULL,
                        IssueID INTEGER NOT NULL,
                        ISBN INTEGER NOT NULL,
                        returningID INTEGER NOT NULL,
                        PRIMARY KEY(IssueID, ISBN, returningID),
                        FOREIGN KEY(ISBN) REFERENCES BorrowStatus(ISBN),
                        FOREIGN KEY(IssueID) REFERENCES BorrowStatus(IssueID),
                        FOREIGN KEY(returningID) REFERENCES Members(LibID)
);

 * sqlite:///library.db
(sqlite3.OperationalError) table Returns already exists
[SQL: CREATE TABLE Returns(
                        ReturnID INTEGER NOT NULL,
                        IssueID INTEGER NOT NULL,
                        ISBN INTEGER NOT NULL,
                        returningID INTEGER NOT NULL,
                        PRIMARY KEY(IssueID, ISBN, returningID),
                        FOREIGN KEY(ISBN) REFERENCES BorrowStatus(ISBN),
                        FOREIGN KEY(IssueID) REFERENCES BorrowStatus(IssueID),
                        FOREIGN KEY(returningID) REFERENCES Members(LibID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [46]:
%%sql 
CREATE TABLE Personnel(
                        pID INTEGER NOT NULL, 
                        position CHAR(30), 
                        firstName CHAR(60), 
                        lastName CHAR(60),
                        worksForLib CHAR(60) NOT NULL,
                        PRIMARY KEY(pID),
                        FOREIGN KEY (worksForLib) REFERENCES Library(name)
);

 * sqlite:///library.db
Done.
Done.

[]

In [153]:
%%sql
CREATE TABLE Event(
                        eventID INTEGER NOT NULL, 
                        title CHAR(60),
                        date DATE, 
                        eventType CHAR(60), 
                        roomBooked INTEGER, 
                        PRIMARY KEY(EventID)
                  );

 * sqlite:///library.db
Done.
Done.

[]

In [155]:
%%sql
CREATE TABLE Holds( 
                        eventID INTEGER NOT NULL, 
                        address CHAR(60) NOT NULL,
                        City CHAR(60) NOT NULL,
                        province CHAR(30) NOT NULL,
                        PRIMARY KEY(eventID, address, City, province), 
                        FOREIGN KEY(eventID) REFERENCES Event(eventID) ON DELETE CASCADE, 
                        FOREIGN KEY(City) REFERENCES Library(City) ON DELETE CASCADE, 
                        FOREIGN KEY(address) REFERENCES Library(address) ON DELETE CASCADE,
                        FOREIGN KEY(province) REFERENCES Library(province) ON DELETE CASCADE
                        
);

 * sqlite:///library.db
Done.
Done.

[]

In [162]:
%%sql
CREATE TABLE Recommend(
                        eventID INTEGER NOT NULL, 
                        eventType CHAR(60) NOT NULL, 
                        audienceType CHAR(60) NOT NULL, 
                        PRIMARY KEY(eventID, eventType, audienceType), 
                        FOREIGN KEY(eventID) REFERENCES Event(eventID) ON DELETE CASCADE, 
                        FOREIGN KEY(eventType) REFERENCES AudienceInfo(eventType), 
                        FOREIGN KEY(audienceType) REFERENCES AudienceInfo(audienceType)
);

 * sqlite:///library.db
Done.
Done.

[]

In [126]:
%%sql
CREATE TABLE BookClub(
                        clubName CHAR(60) NOT NULL,
                        presidentID INTEGER NOT NULL,
                        PRIMARY KEY(clubName),
                        FOREIGN KEY (presidentID) REFERENCES Members(LibID),
                        FOREIGN KEY (clubName) REFERENCES Event(title)
);

 * sqlite:///library.db
Done.
Done.

[]

In [147]:
%%sql
CREATE TABLE BookEvent(
                        eventName CHAR(60) NOT NULL,
                        BookTitle CHAR(60),
                        PRIMARY KEY(eventName,BookTitle),  
                        FOREIGN KEY(BookTitle) REFERENCES Book(title),
                        FOREIGN KEY(eventName) REFERENCES Event(title)
);

 * sqlite:///library.db
Done.
Done.

[]

In [129]:
%%sql
CREATE TABLE ArtShow(
                        eventName CHAR(60) NOT NULL,
                        artistName CHAR(30) NOT NULL,
                        PRIMARY KEY(eventName,artistName),  
                        FOREIGN KEY(eventName) REFERENCES Event(title)
);

 * sqlite:///library.db
Done.

[]

In [130]:
%%sql
CREATE TABLE FilmScreening(
                            eventName CHAR(60) NOT NULL,
                            movieName CHAR(60) NOT NULL,
                            PRIMARY KEY(eventName,movieName),
                            FOREIGN KEY(eventName) REFERENCES Event(title)
                            );

 * sqlite:///library.db
Done.

[]

In [131]:
%%sql
CREATE TABLE ArtClass(
                            eventName CHAR(60) NOT NULL,
                            style CHAR(60) NOT NULL,
                            PRIMARY KEY(eventName,style),
                            FOREIGN KEY(eventName) REFERENCES Event(title)
);

 * sqlite:///library.db
Done.

[]

In [159]:
%%sql
CREATE TABLE Audience(   
                             eventType CHAR(60) NOT NULL, 
                             audienceType CHAR(60) NOT NULL, 
                             PRIMARY KEY(eventType, audienceType),
                             FOREIGN KEY (eventType) REFERENCES Event(eventType)
                     );

 * sqlite:///library.db
Done.
Done.

[]

In [142]:
%%sql
CREATE TABLE memberOfAudience( 
                                eventType CHAR(60) NOT NULL,
                                audienceType CHAR(60) NOT NULL,
                                memberID INTEGER NOT NULL,
                                PRIMARY KEY(eventType, audienceType, memberID),
                                FOREIGN KEY (eventType) REFERENCES Audience(eventType) ON DELETE CASCADE,
                                FOREIGN KEY (audienceType) REFERENCES Audience(audienceType) ON DELETE CASCADE,
                                FOREIGN KEY (memberID) REFERENCES Member(libID) ON DELETE CASCADE
                             );

 * sqlite:///library.db
Done.
Done.

[]

In [156]:
%%sql
CREATE TABLE Library(
                        address CHAR(60) NOT NULL, 
                        City CHAR(60) NOT NULL, 
                        province CHAR(30),
                        name CHAR(60) NOT NULL, 
                        postalCode CHAR(6), 
                        PRIMARY KEY (address, City, province)
                    );

 * sqlite:///library.db
Done.
Done.

[]

In [52]:
%%sql
CREATE TABLE Attends(
                        eventID INTEGER NOT NULL, 
                        LibID INTEGER NOT NULL, 
                        PRIMARY KEY(eventID, LibID), 
                        FOREIGN KEY(eventID) REFERENCES Event(eventID) ON DELETE CASCADE, 
                        FOREIGN KEY(LibID) REFERENCES Members(LibID) ON DELETE CASCADE
                    );

 * sqlite:///library.db
Done.
Done.

[]

In [176]:
%%sql 
CREATE TABLE Updates( 
                        pID INTEGER NOT NULL, 
                        ISBN INTEGER NOT NULL, 
                        PRIMARY KEY(pID, ISBN), 
                        FOREIGN KEY(pID) REFERENCES Personnel(pID) ON DELETE CASCADE, 
                        FOREIGN KEY(ISBN) REFERENCES Records(ISBN) ON DELETE CASCADE
);

 * sqlite:///library.db
Done.
Done.

[]

In [136]:
%%sql 
CREATE TABLE Book(
                        ISBN INTEGER NOT NULL, 
                        fiction CHAR(60), 
                        genre CHAR(60), 
                        title CHAR(60), 
                        authorFirstName CHAR(60), 
                        authorLastName CHAR(60), 
                        publisher CHAR(60),
                        PRIMARY KEY (ISBN), 
                        FOREIGN KEY(ISBN) REFERENCES Records(ISBN) ON DELETE CASCADE
);

 * sqlite:///library.db
(sqlite3.OperationalError) table Book already exists
[SQL: CREATE TABLE Book(
                        ISBN INTEGER NOT NULL,
                        fiction CHAR(60),
                        genre CHAR(60),
                        title CHAR(60),
                        authorFirstName CHAR(60),
                        authorLastName CHAR(60),
                        publisher CHAR(60),
                        PRIMARY KEY (ISBN),
                        FOREIGN KEY(ISBN) REFERENCES Records(ISBN) ON DELETE CASCADE
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [57]:
%%sql 
CREATE TABLE ScientificJournal(ISBN INTEGER NOT NULL, 
                              IssueNumber INTEGER, 
                              volumeNumber INTEGER, 
                              JournalName CHAR(60),
                              publisher CHAR(60),
                              PRIMARY KEY (ISBN),
                              FOREIGN KEY(ISBN) REFERENCES Records(ISBN) ON DELETE CASCADE);

 * sqlite:///library.db
Done.
Done.

[]

In [91]:
%%sql
CREATE TABLE Magazine(ISBN INTEGER NOT NULL, 
                      IssueNumber INTEGER, 
                      volumeNumber INTEGER,
                      MagazineName CHAR(60),
                      genre CHAR(60), 
                      PRIMARY KEY (ISBN),
                      FOREIGN KEY(ISBN) REFERENCES Records(ISBN) ON DELETE CASCADE);

 * sqlite:///library.db
Done.
Done.

[]

In [82]:
%%sql
CREATE TABLE CD(
                    ISBN INTEGER NOT NULL,
                    artistName CHAR(30),
                    albumName CHAR(30),
                    RecordingCompany CHAR(60),
                    numTracks INTEGER,
                    PRIMARY KEY (ISBN),
                    FOREIGN KEY(ISBN) REFERENCES Records(ISBN) ON DELETE CASCADE
);

 * sqlite:///library.db
Done.

[]

In [124]:
%%sql 
CREATE TABLE Volunteer(
                        pID INTEGER NOT NULL, 
                        LibID INTEGER, 
                        volunteerHours TIME, 
                        PRIMARY KEY (pID, libID),
                        FOREIGN KEY (pID) REFERENCES Personnel(pID) ON DELETE CASCADE, 
                        FOREIGN KEY (LibID) REFERENCES Members(LibID) ON DELETE CASCADE
                       
                      );

 * sqlite:///library.db
Done.
Done.

[]

In [132]:
%%sql 
CREATE TABLE Librarian(
                        pID INTEGER NOT NULL, 
                        monthlySalary FLOAT(5, 2), 
                        PRIMARY KEY (pID),
                        FOREIGN KEY (pID) REFERENCES Personnel(pID) ON DELETE CASCADE
                      );

 * sqlite:///library.db
Done.
Done.

[]